[submodule "/Users/EsquireTongG/git/Authenticator/Authenticator/vendors/PureLayout"]
	path = /Users/EsquireTongG/git/Authenticator/Authenticator/vendors/PureLayout
	url = https://github.com/TongKuo/PureLayout.git
